@import "tailwindcss";

@import "@fontsource/ibm-plex-sans/400";
@import "@fontsource/ibm-plex-sans/500";
@import "@fontsource/ibm-plex-sans/600";
@import "@fontsource/ibm-plex-mono/400";
@import "@fontsource/ibm-plex-mono/500";
@import "@fontsource/ibm-plex-mono/600";
@import "@fontsource/geist-mono/400";
@import "@fontsource/geist-mono/500";
@import "@fontsource/geist-mono/600";
@import "@fontsource/outfit/400";
@import "@fontsource/outfit/500";
@import "@fontsource/outfit/600";

:root {
  --diffs-font-family: var(--font-mono);
}

@layer base {
  .light,
  .light diffs-container {
    @apply scheme-light;
  }

  .dark,
  .dark diffs-container {
    @apply scheme-dark;
  }

  .diffs {
    overscroll-behavior: contain;
    /* scrollbar-gutter: stable; */
    overflow: auto;
    scrollbar-color: --alpha(var(--color-foreground) / 20%) transparent;
    scrollbar-width: thin;
  }

  .diffs::-webkit-scrollbar {
    /* width: 6px;
    height: 6px; */
  }

  .diffs::-webkit-scrollbar-track {
    /* background: var(--background); */
    /* border-left: 1px solid var(--color-border); */
  }

  .diffs::-webkit-scrollbar-thumb {
    /* background-color: var(--color-red-500); */
    /* background-clip: content-box;
    border: 2px solid transparent;
    border-left-width: 3px;
    border-radius: 6px; */
  }

  /* @supports (-moz-appearance: none) {
    .diffs {
      scrollbar-color: var(--color-red-500) var(--background);
    }
  } */
}
