:root {
  --diffs-font-family: var(--font-mono);
}

@layer base {
  .light,
  .light diffs-container {
    @apply scheme-light;
  }

  .dark,
  .dark diffs-container {
    @apply scheme-dark;
  }

  .diffs {
    overscroll-behavior: contain;
    /* scrollbar-gutter: stable; */
    overflow: auto;
    scrollbar-color: --alpha(var(--color-foreground) / 20%) transparent;
    scrollbar-width: thin;
  }
}
