@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";
@import "shadcn/tailwind.css";
@plugin "tailwind-scrollbar";

@import "./theme.css";
@import "./typeset.css";
@import "./replay.css";

:root {
  --diffs-font-family: var(--font-mono);
  --diffs-header-font-family: var(--font-sans);

  --trees-font-family-override: var(--font-sans);
  --trees-padding-inline-override: 0;
  --trees-scrollbar-thumb-override: color-mix(
    in srgb,
    var(--color-foreground) 20%,
    transparent
  );
}
